.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.AppBar {
  text-align: center;
}

.auth-container {
  display: flex;
  margin-top: -500px;
}

#logo {
  position: absolute;
}
@-webkit-keyframes logoAnimate {
  0% {
      transform: skew(1deg, 1deg) scale(1.0);
    }
    100% {
      transform: skew(-2deg, -2deg) scale(.98);
    }
}

#logo {
  transform-origin: bottom;
  animation: logoAnimate .75s ease infinite alternate;
  -webkit-animation: logoAnimate .75s cubic-bezier(.5,0.05,1.2,.75) infinite alternate;
}